body {
  overflow: hidden;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  margin: auto;
  padding: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.header { 
  height: 30px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 20px;
  background-color:lightskyblue;
}

.Icons {
  order: 1;
  text-align: center;
  display: inline-flex;
  column-gap: 10px;
}

.logo {
  order: 2;
}
.App-logo {
  text-align: center;
}
.info {
order: 3;
margin: 0;
text-align: end;

}
.info p {
  margin: 0;
 
}
.info h2 {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightseagreen;

}

.navbar li{
  list-style: none;
  padding: 10px;
}

.navbar a{
  text-decoration: none;
}

.home-logo {
  height: 250px;
  width: 100%;
}